<section id="login-section">
  <%= form_tag action: :create, method: :post do %>
    <fieldset>
      <legend>Please log in</legend>
      <div class="form-section">
        <%= text_field_tag :name, params[:name], class:"form-control", placeholder:"Enter your username" %>
      </div>

      <div class="form-section">
        <%= password_field_tag :password, params[:password], class:"form-control", placeholder:"Enter your password" %>
      </div>

      <div class="form-section">
        <%= submit_tag 'Login', class:"btn btn-primary btn-lg" %>
      </div>
      
    </fieldset>
  <% end %>
</section>