 <%= button_to start_processing_order_path(@order), data: { confirm: "This action is irreversible,\nPlease make necessary confirmations" }, id: 'ship_action_btn', class: "btn btn-processed btn-sm pull-right" do %>
      <%= content_tag(:i, nil, class: "fa fa-check-circle") %>
      <span>Process Order</span>
  <% end %>