<h1>Error Alert</h1>

<h3>Hi Administrator</h3>
<p>An error has occured in the Depott application.</p>

<h4>Error details</h4>

<p><span>Message</span>: @exception.message</p>

<p><span>Stack Trace</span>: @exception.backtrace</p>