<h3>Hi <%= @order.name %>,</h3>

<h5>Your order with order nos: <em>#<%= @order.id.to_s.rjust(9, '0') %></em></h5>
<p>Thanks for shopping with Depott, We hoping to have you with us sometime really soon</p>

<p>With much love!<br>The Depott team</p> 

