  <section id="validate_password">
    <h6>Please confirm your password to continue</h6>
    <%= form_tag action: :validate_password do %>
      <div class="form-section">
        <%= label_tag :password, 'Password' %><br>
        <%= password_field_tag :password, size: 40, class:"form-control"%>
      </div>

      <div class="action form-sections">
        <%= submit_tag 'Confirm', class:"btn btn-primary" %>
      </div>
    <% end %>
  </section>