<p id="notice"><%= notice %></p>

<h3>Your cart</h3>
<!-- <div class="cart-header">
  <span class="item image">Item</span>
  <span class="item name">Name</span>
  <span class="item desc">Description</span>
  <span class="item qty">Quantity</span>
  <span class="item price">Price</span>
</div> -->
<ul>
<%= render @cart %>