// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-item {
  padding: .7em .2em;
  display: block;
  border-bottom: 1px solid #ccc;

  .item-prop {
    display: inline-block;

    &.image {
      width: 10%;
    }

    &.name {
      width: 20%;
    }

    &.desc {
      width: 40%;
    }

    &.qty {
      width: 7%;
    }

    &.price {
      width: 15%;

      .main { display: block; }
      small { font-size: 75%; }
    }
  }

}


.cart-header {
  border-bottom: 2px solid #555;
  //text-align: center;

  .item {
    display: inline-block;
    font-weight: bold;

    &.image { width: 10%; }
    &.name { width: 20%; }
    &.desc { width: 40%; }
    &.qty { width: 10%; }
    &.price { width: 15%; }
  }
}

.empty_cart_btn {
  border: 1px solid #d43f3a !important;

  * { color: #d9534f; }
  margin-left: .5em;
}

.empty_cart_btn:hover {
  background-color: #d9534f !important;

  * { color: #fff; }
}

.continue-shop {
  display: inline-block;
}

