@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: #005387;
  border-radius: 0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #105d8e;
  color: #fff;
}

.dropdown-menu * {
  color: #004875
}

a.navbar-brand {
  color: #fff !important;
}

small#app-spec {
  color: #2eaeff;
}

.container.main {
  margin-top: 5em;
}

.fa {
  font-size: 1.2em !important;
  margin-right: .5em;
}

.fa-edit:hover {
  color: #ffa600;
}

.fa-trash:hover {
  color: red;
}

.force-inline {
  display: inline;
}

.form-section {
  margin-bottom: 1em;
}

.color-green{
  color: #4cae4c;
}

.header-login {
  margin-top: 11px;
  margin-right: 7px;
  border: 1px solid #2e7fb2;
  background-color: #2e7fb2;
  color: #fff !important;
  padding: .2em .7em .2em .7em !important;
}

#cart-total {
  margin: .6em auto;
}