@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  
  border-radius: 0;

  * {
      background-color: #005387;
  }
}

a.navbar-brand {
  color: #fff !important;
}

small#app-spec {
  color: #2eaeff;
}

.container.main {
  margin-top: 5em;
}

.fa {
  font-size: 1.2em !important;
  margin-right: .5em;
}

.fa-edit:hover {
  color: #ffa600;
}

.fa-trash:hover {
  color: red;
}