// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ship_action_btn {
  margin-top: .4em;
  margin-right: .5em;
}

#order_items .item-action {
  display: none;
}

#order_items .item-action {
  display: none;
}