// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#store-container * {
  
}

#catalogue {
 //vertical-align: top; 
}

.container {
  width: 85.75%;
}

.force-inline-block {
  display: inline-block;
}

.catalogue-item {
  vertical-align: top; 
  width: 245px;
  height: 305px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 6px 7px;
  text-align: center;

  figcaption {
    .description {
      padding-bottom: .4em;
      border-bottom: 1px solid #ccc;
      padding: 10px auto 2px auto;
    }

    .price {
      color: #444;
      font-weight: bold;
    }
  }


  .action_section {
    margin-top: 1em;
  }
}

.product_image {
  padding-bottom: 1.5em;
  width: 240px;
  height: 190px;
  cursor: pointer;
}

.catalogue-item:hover {
  border: 1px solid #ffa600;
}

#cart-section {
  margin-top: 6px;
  padding: 0;

  .item-prop {
    zoom: 0.8;
    //font-size: 0.8em;
    width: auto !important;

    &.desc, &.qty {
      display: none;
    }
  }

  .continue-shop {
    display: none;
  }
}



.add_to_cart_btn {
  
}

#cart-container {
  border: 1px solid #ccc;

  border-radius: 5px;
  padding: 5px;
}

#cart-section li {
  list-style-type: none;
}