<!-- <p class="notice">
  <%= notice %>
</p>
 -->
<!-- <h3>Products Catalogue</h3> -->
<section id="catalogue">
  <% cache ['catalogue', Product.latest] do %>
    <%= render @products %>
  <% end %>
</section>